<div class="home-grid part1">
  <div class="home-video-box top-video">
    <div class="top-video-wrapper">
      <video controls width="250">
        <source src="<%= videos[0].videoPath %>">
      </video>
      <div class="home-video-title"><%= videos[0].setTitle %></div>
    </div>
    <div class="home-prod-wrapper">
      <div class="home-prod-inner-wrapper">
        <div class="home-prod-brandandtitle">
          <div class="home-prod-brand"><%= videos[0].products[0].brand %></div>
          <div class="home-prod-prodTitle"><%= videos[0].products[0].prodTitle %></div>
        </div>
        <img src="<%= videos[0].products[0].thumbnailPath %>" />
        <div class="home-btn-box">
          <a class="btn btn-primary" href="<%= videos[0].products[0].productUrl %>">Buy</a>
        </div>
      </div>
    </div>
  </div>
  <% for (let i = 1; i < 4; i++) { %>
    <a class="home-video-box" href="">
      <div class="flip-card-inner">
          <div class="flip-card-front">
            <img  src="uploads/thumbnails/videos/<%= videos[i].thumbnailName %>">
            <div class="home-video-title"><%= videos[i].setTitle %></div>
          </div>
          <div class="flip-card-back">
            <div class="flip-card-back-wrapper">
              <div class="home-prod-text">
                <h1><%= videos[i].products[1].prodTitle %></h1>
                <p><%= videos[i].creator.name %></p>
              </div>
              <div class="home-prod-pic">
                <img src="<%= videos[i].products[1].thumbnailPath %>" />
                <i class="far fa-play-circle"></i>
              </div>
            </div>
          </div>
      </div>
    </a>
  <% } %>
</div>
<div class="tops-block">
  <div class="tops-header-wrapper">
    <div class="tops-header">Top 10</div>
  </div>
  <a class="tops-item" href="">
    <img  src="/media/home/top10-eye.jpeg">
    <div class="tops-label">Eye</div>
  </a>
  <a class="tops-item" href="">
    <img  src="/media/home/top10-lips.jpeg">
    <div class="tops-label">Lips</div>
  </a>
  <a class="tops-item" href="">
    <img  src="/media/home/top10-skin.jpeg">
    <div class="tops-label">Skin</div>
  </a>
</div>
<div class="home-grid part2">
  <% for (let i = 5; i < 11; i++) { %>
    <a class="home-video-box" href="">
      <% if ( i == 2 || i == 3 || i == 6) { %>
      <div class="nonflip-card-back">
        <div class="flip-card-back-wrapper">
          <div class="home-prod-text">
            <h1><%= videos[i].products[1].prodTitle %></h1>
            <p><%= videos[i].creator.name %></p>
          </div>
          <div class="home-prod-pic">
            <img src="<%= videos[i].products[1].thumbnailPath %>" />
            <i class="far fa-play-circle"></i>
          </div>
        </div>
      </div>
      <% } else { %>
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img  src="uploads/thumbnails/videos/<%= videos[i].thumbnailName %>">
          <div class="home-video-title"><%= videos[i].setTitle %></div>
        </div>
        <div class="flip-card-back">
          <div class="flip-card-back-wrapper">
            <div class="home-prod-text">
              <h1><%= videos[i].products[1].prodTitle %></h1>
              <p><%= videos[i].creator.name %></p>
            </div>
            <div class="home-prod-pic">
              <img src="<%= videos[i].products[1].thumbnailPath %>" />
              <i class="far fa-play-circle"></i>
            </div>
          </div>
        </div>
      </div>
      <% } %>
    </a>
  <% } %>
</div>

<div class="home-grid">
  <% for (let i = 11; i < 14; i++) { %>
    <a class="home-video-box" href="">
      <div class="nonflip-card-back">
        <div class="flip-card-back-wrapper">
          <div class="home-prod-text">
            <h1><%= videos[i].products[1].prodTitle %></h1>
            <p><%= videos[i].creator.name %></p>
          </div>
          <div class="home-prod-pic">
            <img src="<%= videos[i].products[1].thumbnailPath %>" />
            <i class="far fa-play-circle"></i>
          </div>
        </div>
      </div>
    </a>
  <% } %>
</div>

<div class="home-grid part3">
  <% for (let i = 15; i < 21; i++) { %>
    <a class="home-video-box" href="">
      <% if ( i == 4 || i == 6) { %>
        <div class="nonflip-card-back">
          <div class="flip-card-back-wrapper">
            <div class="home-prod-text">
              <h1><%= videos[i].products[1].prodTitle %></h1>
              <p><%= videos[i].creator.name %></p>
            </div>
            <div class="home-prod-pic">
              <img src="<%= videos[i].products[1].thumbnailPath %>" />
              <i class="far fa-play-circle"></i>
            </div>
          </div>
        </div>
        <% } else { %>        
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img  src="uploads/thumbnails/videos/<%= videos[i].thumbnailName %>">
            <div class="home-video-title"><%= videos[i].setTitle %></div>
          </div>
          <div class="flip-card-back">
            <div class="flip-card-back-wrapper">
              <div class="home-prod-text">
                <h1><%= videos[i].products[1].prodTitle %></h1>
                <p><%= videos[i].creator.name %></p>
              </div>
              <div class="home-prod-pic">
                <img src="<%= videos[i].products[1].thumbnailPath %>" />
                <i class="far fa-play-circle"></i>
              </div>
            </div>
          </div>
        </div>
      <% } %>
    </a>
  <% } %>
</div>
<div class="home-creators">
  <% creators.forEach(creator => { %>
    <a href="">
      <div class="home-creator-pic"><img  src="<%= creator.thumbnailPath %>"></div>
      <div class="home-creator-label"><%= creator.name %></div>
    </a>
  <% }) %>
</div>
<div class="home-grid">
  <% for (let i = 1; i < 4; i++) { %>
    <a class="home-video-box" href="">
      <div class="nonflip-card-back">
        <div class="flip-card-back-wrapper">
          <div class="home-prod-text">
            <h1><%= videos[i].products[1].prodTitle %></h1>
            <p><%= videos[i].creator.name %></p>
          </div>
          <div class="home-prod-pic">
            <img src="<%= videos[i].products[1].thumbnailPath %>" />
            <i class="far fa-play-circle"></i>
          </div>
        </div>
      </div>
    </a>
  <% } %>
</div>

<div class="home-grid part3">
  <% for (let i = 2; i < 8; i++) { %>
    <a class="home-video-box" href="">
      <% if ( i == 4 || i == 6) { %>
        <div class="nonflip-card-back">
          <div class="flip-card-back-wrapper">
            <div class="home-prod-text">
              <h1><%= videos[i].products[1].prodTitle %></h1>
              <p><%= videos[i].creator.name %></p>
            </div>
            <div class="home-prod-pic">
              <img src="<%= videos[i].products[1].thumbnailPath %>" />
              <i class="far fa-play-circle"></i>
            </div>
          </div>
        </div>
        <% } else { %>        
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img  src="uploads/thumbnails/videos/<%= videos[i].thumbnailName %>">
            <div class="home-video-title"><%= videos[i].setTitle %></div>
          </div>
          <div class="flip-card-back">
            <div class="flip-card-back-wrapper">
              <div class="home-prod-text">
                <h1><%= videos[i].products[1].prodTitle %></h1>
                <p><%= videos[i].creator.name %></p>
              </div>
              <div class="home-prod-pic">
                <img src="<%= videos[i].products[1].thumbnailPath %>" />
                <i class="far fa-play-circle"></i>
              </div>
            </div>
          </div>
        </div>
      <% } %>
    </a>
  <% } %>
</div>
