<div class="content-header-block">
    <h2>Videos</h2>
    <a href="/videos/new">
        <i class="fas fa-plus-circle"></i> add a video
    </a>
    <form action="/videos" method="GET">
        <div class="form-row form-row-bundle">
            <div class="form-item">
                <input type="text" placeholder="enter a video name" name="search" value="<%= searchOptions.search %>">
            </div>
            <button class="btn btn-secondary" type="submit">Search</button>
        </div>
    </form>
</div>
<div class="content-block">
    <table>
        <thead>
            <tr>
                <th>Position</th>
                <th class="full-cell">&nbsp;</th>
                <th class="left-align">Title</th>
                <th class="left-align">Category</th>
                <th>Creator</th>
                <th>Visible</th>
                <th>edit</th>
                <th>view</th>
            </tr>
        </thead>
        <tbody id="draggable-list" class="draggable-list">
            <% videos.forEach(video => { %>
            <tr class="draggable" draggable="true" data-index="<%= video._id %>">
                <td class="pos-label"><%= video.position ? video.position : '-' %></td>
                <td class="left-align full-cell"><img class="thumbnail" width="60" height="60" src="/<%= video.thumbnailBasePath %>/<%= video.thumbnailName %>" /></td>
                <td class="left-align"><%= video.setTitle  %></td>
                <td class="left-align"><%= video.category.name %></td>
                <td><%= video.creator.name %></td>
                <td><% if (video.visibility) { %>
                    <i class="fas fa-check purple small"></i>
                    <% } %>
                </td>
                <td><a href="/videos/<%= video.id %>/edit"><i class="far fa-edit"></i></a></td>
                <td><a href="/videos/<%= video.id %>"><i class="far fa-eye"></i></a></td>
                <td><i class="fas fa-grip-lines"></i></td>
            </tr>
            <% }); %>
        </tbody>
    </table>
</div>
<div class="new-item">
    <a href="/videos/new">
        <i class="fas fa-plus-circle"></i> add a video
    </a>
</div>
<script src="/js/videos.js"></script>