<h2><%= product.prodTitle %></h2>
<div class="content-block">
    <div class="">
        <div class="">
            <img class="thumbnail" width="200" height="200" src="<%= product.thumbnailPath %>" />
        </div>
        <div class="">
            <div class="">
                <label>Brand</label>
                <div><%= product.brand %></div>
            </div>
            <div class="">
                <label>Description</label>
                <div><%= product.description %></div>            
            </div>
        </div>
        <div>Created at: <%= product.createdAt.toISOString().split('T')[0] %></div>
        
        <div>Category: 
            <% categories.forEach(category => { %>
                <% if (category.id == product.category) { %>
                    <%= category.name %>
                <% } %>
            <% }) %>
        </div>
    </div>

    <div>Deal: 
        <% deals.forEach(deal => { %>
            <% if (deal.id == product.deal) { %>
                <%= deal.name %>
            <% } %>
        <% }) %>    
    </div>
    <div>Made in: <%= product.madeIn %></div>
    <div>Position: <%= product.position %></div>
    <div>Price: <%= product.price %></div>
    <div>Launch date: <%= product.prodLaunchDate %></div>
    <div>Product URL: 
        <a target="_blank" href="<%= product.productUrl %>"><%= product.productUrl %></a>
    </div>
    <div>Quantity: <%= product.qty %></div>
    <div>Rating: <%= product.rating %></div>
    <div>Shade: <%= product.shade %></div>
    <div>Size: <%= product.size %></div>
    <div>SKU: <%= product.sku %></div>
    <div>Stock status: <%= product.stockStatus %></div>
    <div>Supplier: <%= product.supplier %></div>
    <div>Visibility: <%= product.visibility %></div>
    <div>Weight: <%= product.weight %></div>

    <a href="/products/<%= product.id %>/edit">Edit</a>
    <%- include('../partials/deleteForm', {url: `/products/${product.id}` }) %>
</div>